.landing-main-container{
    display: flex;
    flex-direction: column;
}

.landing-main-container > .ant-carousel {
    width: 100%;
    height: auto;
}

.category-heading{
    text-align: center;
    margin: 10px ;
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
    color: black;
    -webkit-text-fill-color: rgb(233, 144, 144); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 2px;

}