.phase2{
    display: block;
    height: 100vh;
    width: 100%;
    margin: 10vh 0vh;
}

.square{
    height: 60vh;
    width: 40vh;
    margin-top: 15vh;
    margin-left: 30vh;
    margin-bottom: 20vh;
    border-radius: 10;
}

.booking_items{
    display: flex;
    flex-direction: column;
    margin: 15vh 5vh ;
    text-align: center;
}

.track_items{
    display: flex;
    flex-direction: column;
    margin: 15vh 5vh ;
    text-align: center;
}

.book_heading{
    color: tomato;
    font-size: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.track_heading{
    color: tomato;
    font-size: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}