.footer{
    height: 58vh;
    width: 100%;
    background-color: rgb(223, 83, 83);
}
.lists{
    height: 30vh;
    margin: 50px 0px 0px 10px;
}

.headingf1{
    color: rgb(238, 220, 238);
    font-size: larger;
    font-weight: 500;
}

.headingf2{
    color: rgb(255, 255, 255);
}

.ending{
    position: absolute;
    display: block;
    margin-top: 40px;
    height: 15vh;
    width: 100%;
    color: rgb(235, 230, 233);
}

.paymentadd{
    height: 10vh;
    width: 100%;
    display: block;
    padding-top: 2vh;
}